[Unit]
Description=Mute sound then screen lock and unmute then unlock
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/mute.py

[Install]
WantedBy=multi-user.target
