[Desktop Entry]
Name=Mute when lock
Comment=Mute sound when screen lock and unmute when unlock
GenericName=Internet Messenger
Exec=/usr/bin/python3 /usr/local/bin/mute.py
Type=Application
Categories=System;Sound
Path=/usr/local/bin